$black: #000000;            // Black
$white: #ffffff;            // White

// Dependent colors
$classic-base-color: #f3f3f3;
$classic-primary-color: #333333;
$classic-secondary-color: #848484;
$classic-highlight-color: #65acbd;

// Differences
$success-green: lighten(#3c754d, 8%);

$base-overlay-background: $white !default;
$valid-value-color: $success-green !default;

$ui-base-color: $classic-base-color !default;
$ui-secondary-color: $classic-base-color !default;
$ui-highlight-color: $classic-highlight-color;

$primary-text-color: $white !default;
$darker-text-color: $classic-primary-color !default;
$dark-text-color: $classic-primary-color;
$action-button-color: $classic-secondary-color;
$secondary-text-color: $classic-primary-color;

$lighter-text-color: $classic-base-color !default;
$light-text-color: $classic-primary-color;

//Newly added colors
$account-background-color: $white !default;

@import 'application';

body{background: #525659;}
.placeholder-widget {
  border: 2px dashed darken($classic-highlight-color, 10%);
  color: $classic-primary-color;
  background: #d8f2f9;
}
.placeholder-widget a{color: darken($ui-highlight-color, 15%);}
.public-layout .header .brand svg {fill: $classic-primary-color;}
.public-layout .header .brand svg:hover {background: $classic-base-color;}
.public-layout .header .nav-link {color: $classic-secondary-color}
.public-layout .header .nav-link:hover {color: $classic-primary-color;}
.public-layout .header .nav-button {background: $classic-base-color;}
.public-layout .header .nav-button:hover {background: lighten($classic-highlight-color, 30%);}
.public-layout .public-account-header__tabs__tabs .counter:after {border-bottom: 4px solid darken($classic-base-color, 30%);}
.public-layout .public-account-header__tabs__tabs .counter.active:after {border-bottom: 4px solid $classic-highlight-color;}
.public-layout .public-account-bio .account__header__content {color: $classic-primary-color;}
.public-layout .public-account-bio__extra {color: $classic-secondary-color;}
.drawer__inner__mastodon {background: none;}
.drawer__inner__mastodon > img {opacity: 0.6;}

.simple_form .hint{color:$classic-secondary-color;}
.simple_form .recommended{
  color:$classic-highlight-color;
  background-color: rgba($classic-highlight-color, 0.1);
  border: 1px solid rgba($classic-highlight-color, 0.5);
}
